<!DOCTYPE html>

<html lang="fr-FR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"  content="Out of school">
    <link rel="stylesheet" href="/boostrap/bootstrap.min.css" /> 
    <link rel="stylesheet" href="/css/style.css" /> 
    <title>Blog out of school</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Accueil</a>
            </li>
            {% if not session.passport.user %}
            <li class="nav-item">
              <a class="nav-link" href="/user/register">Inscription</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/login">Connexion</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/user/logout">Déconnexion</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
      {% block header %}
      {% endblock %}
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer>
      {% block footer %}
      {% endblock %}
    </footer>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous" defer></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" defer></script>
    {% block javascript %}
    {% endblock %}
  </body>
</html>